.generalThreeColownTwo {
    width: 205px;
    margin: 100px 10px 20px 200px;
}

.AstronautImageSecond {
    height: 140px;
    border: 2px solid transparent;
}
.AstronautImageSecond:hover {
    border: 2px solid DodgerBlue;
}

.ButtonColownTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.CardThreeColTwoTxt1 {
    font-size: 9px;
}

.CardThreeColTwoTxt2 {
    font-size: 11px;
}
.CardThreeColTwoTxt1:hover, .CardThreeColTwoTxt2:hover {
    text-decoration: 2px underline;
    text-decoration-color: DodgerBlue;
}

.CardThreeColTwoline {
    margin-top: 45px;
}