.generalColownTwo {
    width: 205px;
    margin: 10px 10px 20px 200px;
}

.AstronautImageSecond {
    height: 140px;
    border: 2px solid transparent;
}
.AstronautImageSecond:hover {
    border: 2px solid DodgerBlue;
}

.ButtonColownTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.CardOneColTwoTxt1 {
    font-size: 9px;
}

.CardOneColTwoTxt2 {
    font-size: 11px;
}
.CardOneColTwoTxt1:hover, .CardOneColTwoTxt2:hover {
    text-decoration: 2px underline;
    text-decoration-color: DodgerBlue;
}

.CardOneColTwoline {
    margin-top: 45px;
}