.header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgba(34, 49, 170, 1);
    display: flex;
    justify-content: space-between;
}

.header-Right, .header-Left {
    display: flex;
}

.header-Btn-Burger {
    width: 60px;
    height: 60px;
    background-color: rgba(34, 49, 170, 1);
    border: transparent;
}

.header-Btn-Seach {
    width: 60px;
    height: 60px;
    background-color: rgba(34, 49, 170, 1);
    border: transparent;
}

.header-Hr {
    width: 1px;
    margin: 0px;
    background-color: rgba(83, 96, 205, 1);
    border: none;
}

.header-User {
    width: 200px;
    height: 60px;
    font-weight: 600;
    background-color: rgba(34, 49, 170, 1);
    border: transparent;
    color: white;
}

.header-User-Icon {
    width: 60px;
    height: 60px;
    background-color: rgba(34, 49, 170, 1);
    border: transparent;
    color: white;
}