.astronauts-center-posts {
    width: 700px;
    background-color: greenyellow;
    margin: 50px 0px 0px 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}


.big-post-txt {
    margin: 0px 15px 20px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.big-post-txt p {
    font-size: 16px;
}

.card-big-post img{
    width: 250px;
    height: 210px;
}

.card-big-post {
    width: 700px;
    height: 350px;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}



.card-middle-posts {
    width: 340px;
    height: 350px;
    margin: 0px;
}

.middle-posts-txt {
    font-size: 10px;
}
.middle-posts-txt h1 {
    font-size: 19px;
}
.middle-posts-txt p {
    font-size: 15px;
}

.card-middle-posts img {
    width: 340px;
    height: 210px;
}

.middle-post-hr, .big-post-hr {
    margin: 20px 0px 30px 0px;
}

