@import '../../../Style/Style';

.signUp-center-box {
    width: 430px;
    margin: 0px auto 50px auto;
    border: 1px solid rgba(218, 218, 218, 1);
}

.signUp-center-box-general-div {
    width: $stGeneralDiv;
    margin: 0 auto;
}
