body {
    background-color: rgb(229, 229, 229);
}

.mainDivAstronautPage {
    position: absolute;

    width: 1680px;
}
.generalDivRootAssemblyAstronauts {
    display: block;
    position: static;

    width: 1000px;
    margin: 50px auto;
    display: flex;
}


.postDivLeft {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.postDivRight {
    width: 30%;
}

.mainHeaderPosts {
    position: static;
    width: 1000px;
    margin: 60px auto;
}
.mainHeaderPosts h1 {
    font-size: 60px;
    color: rgba(49, 48, 55, 1);
}