.generalDivLargePosts {
    position: relative;
    width: 630px;
    height: 350px;
    margin: 0px 30px 20px 0px;
}

.largePostDivTxtAndImg {
    display: flex;
    margin-bottom: 25px;
}

.largePostDivTxt {
    width: 60%;
}

.largePostDivTxt p {
    font-size: 13px;
    width: 95%;
    margin-right: auto;
    color: rgba(141, 142, 151, 1);
}
.largePostDivTxt h1 {
    width: 90%;
    margin-right: auto;
    font-size: 20px;
    color: rgba(49, 48, 55, 1);
}

.largePostDivImg {
    width: 40%;
}

.largePostDivImg img {
    width: 100%;
}

.largePostsHr {
    margin-top: 40px;
}