.generalDivLittlePost {
    position: relative;
    width: 300px;
    height: 170px;
    margin-bottom: 15px;
}

.littlePostDivTxtAndImg {
    display: flex;
}

.littlePostDivTxt {
    width: 60%;
}
.littlePostDivTxt p {
    font-size: 10px;
    color: rgba(141, 142, 151, 1);
}
.littlePostDivTxt h1 {
    font-size: 15px;
    color: rgba(49, 48, 55, 1);
}

.littlePostDivImg {
    width: 40%;
}
.littlePostDivImg img {
    width: 100%;
}

.littlePostHr {
    margin-top: 20px;
}