.signUp-inputs-box {
    width: 350px;
    margin: 0 auto;
    color: rgba(49, 48, 55, 1);

    &__input-name, &__input-email, &__input-password, &__input-confPassword {
        width: 340px;
        height: 33px;
        font-size: 14px;
        border-color: transparent;
    }

    &__name-div, &__email-div, &__password-div, &__confPassword-div {
        padding: 15px 0px 0px 0px;
        font-size: 11px;
        font-weight: 700;
    }
}