.signUp-inputs-box {
    width: 350px;
    margin: 0 auto;
    color: rgba(49, 48, 55, 1);
}

.signUp-input-name, .signUp-input-email, .signUp-input-password, .signUp-input-confPassword {
    width: 340px;
    height: 33px;
    font-size: 14px;
    border-color: transparent;
}

.signUp-input-name-div, .signUp-input-email-div, .signUp-input-password-div, .signUp-input-confPassword-div {
    padding: 15px 0px 0px 0px;
    font-size: 11px;
    font-weight: 700;
}