@import '../../../../Style/Style';

.astromauts-littele-posts {
    width: $stCardSmallWD;
    margin: 0px 0px 0px 40px;
}

.card-littele-post {
    width: $stCardSmallWD;
    height: $stCardSmallHG;
    display: flex;
    flex-direction: row-reverse;

    img {
        width: $stCardSmallImgWD;
        height: $stCardSmallImgHG;
    }

    p {
        margin: 7px auto;
        font-size: 14px;
        color: $txtColor ;
    }

    h1 {
        font-size: 20px;
        margin: 0px auto;
        color: $titleColor;
    }

    &__txt {
        margin: 0px 20px auto 0px;
    }
}
