
.generalCardThree {
    width: 450px;
    margin: 10px 5px 100px 10px;
}
.CardThree {
    display: flex;
    justify-content: space-between;
}
.ButtonsCardThree {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.CardThreeAstronautPhoto {
    width: 140px;
    height: 140px;
    border: 2px solid transparent;
}
.CardThreeAstronautPhoto:hover {
    border: 2px solid DodgerBlue;
}

.CardThreeTextOne {
    color: rgb(155, 155, 155);
    font-size: 11px;
    margin: 10px 12px;
}

.CardThreeTextTwo {
    font-size: 19px;
    margin: 10px 5px 10px 10px;
}
.CardThreeTextTwo:hover, .CardThreeTextOne:hover {
    text-decoration: 2px underline;
    text-decoration-color: DodgerBlue;
}

.CardThreeline {
    margin-top: 50px;
}
