@import '../../Style/Style';


.general-header-div {
    position: sticky;
    top: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $stBackgroundColor;
    display: flex;
    justify-content: space-between;

    &__right, &__left {
        display: flex;
    }

    &__btn-menu {
        width: 60px;
        height: 60px;
        background-color: $stBackgroundColor;
        border: transparent;
        border-right: 1px solid $stBackgroundColorBorder;

    }

    &__btn-seach {
        width: 60px;
        height: 60px;
        background-color: $stBackgroundColor;
        border: transparent;
        border-left: 1px solid $stBackgroundColorBorder;
    }

    &__btn-user-name {
        width: 200px;
        height: 60px;
        font-weight: 600;
        background-color: $stBackgroundColor;
        border: transparent;
        color: white;
        border-left: 1px solid $stBackgroundColorBorder;
    }

    &__user-icon {
        width: 60px;
        height: 60px;
        background-color: $stBackgroundColor;
        border: transparent;
        color: white;
        border-left: 1px solid $stBackgroundColorBorder;
    }
}
