%stDisplay {
    display: flex;
}

//stile for card TXT
$stColorLightGray: rgba(141, 142, 151, 1);
$stColor: rgba(49, 48, 55, 1);
$stdateFS: 15px;
$stTitleFS: 19px;


//style for Average cords
$stCardAverageWD: 340px;
$stCardAverageHG: 386px;
$stCardAverageMargin-bottom: 13px;

////style for Average cords
$stCardSmallWD: 370px;
$stCardSmallHG: 137px;