%stDisplay {
    display: flex;
}

//stile for card TXT
$stdateFS: 15px;
$stTitleFS: 19px;


//style for Average cords
$stCardAverageWD: 340px;
$stCardAverageHG: 353px;
$stCardAverageMargin-bottom: 13px;

////style for Average cords
$stCardSmallWD: 370px;
$stCardSmallHG: 137px;