@import "../../../Style/Style.scss";

.astronaut-two-big-card {
    width: 340px;

    img {
        width: 100%;
        height: 250px;
    }

    p {
        font-size: $stdateFS;
    }

    h1{
        font-size: $stTitleFS;
    }
}

// .astronaut-two-small-card {

// }