@import '../../../Style/Style';

.new-password-center-div {
    width: 430px;
    background-color: rgb(229, 229, 229);
    margin: 50px auto 250px auto;
    border: 1px solid rgba(218, 218, 218, 1);

    &__input-div {
        width: 350px;
        margin: 0 auto;
        padding: 15px 0px 0px 0px;
        font-size: 11px;
        font-weight: 700;
    }

    &__input {
        width: 340px;
        height: 33px;
        font-size: 14px;
        border-color: transparent;

    }

    &__btn {
        width: 350px;
        height: 35px;
        margin: 15px 40px 0px 40px;
        background-color: rgba(34, 49, 170, 1);
        color: white;
        border-color: rgba(34, 49, 170, 1);
        border-radius: 2px;
    }


}

.new-password {
    width: $stGeneralDiv;
    margin: 0 auto;
}