.divHeader {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgba(34, 49, 170, 1);
    display: flex;
    justify-content: space-between;
    color: white;
}

.headerBurger {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSeach{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight, .headerLeft {
    display: flex;
}


.divHeader hr {
    width: 1px;
    margin: 0px;
    background-color: rgba(83, 96, 205, 1);
    border: none;
}

.headerUser {
    width: 200px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerUser {
    font-weight: 600;
}

