@import "../../Style/Style.scss";

.like-box {
    width: 100%;
    height: 40px;
    @extend %stDisplay;
    justify-content: space-between;

    &__left {
        @extend %stDisplay
    }

    &__right {
        @extend %stDisplay
    }
    
}
