@import "../../../Style/Style.scss";

.astronaut-two-big-card {
    width: $stCardAverageWD;
    height: $stCardAverageHG;
    margin-bottom: $stCardAverageMargin-bottom;

    img {
        width: 100%;
        height: 250px;
    }

    p {
        color: $stColorLightGray;
        font-size: $stdateFS;
    }

    h1{
        color: $stColor;
        font-size: $stTitleFS;
    }
}

.astronaut-two-small-card {
    display: flex;
    flex-direction: row-reverse;
    width: $stCardSmallWD;
    height: $stCardSmallHG;

    img {
        width: 120px;
        height: 120px;
    }

    p{
        color: $stColorLightGray;
        font-size: $stdateFS;
    }

    h1{
        color: $stColor;
        font-size: $stTitleFS;
    }
}