@import "../../../../Style/Style";

.astronaut-two-big-card {
    width: $stCardAverageWD;
    height: $stAllCardHG;
    margin-bottom: $stCardAverageMargin-bottom;

    img {
        width: 100%;
        height: 250px;
    }

    p {
        color: $txtColor;
        font-size: $stdateFS;
    }

    h1{
        color: $titleColor;
        font-size: $stTitleFS;
    }
}

.astronaut-two-small-card {
    display: flex;
    flex-direction: row-reverse;
    width: $stCardSmallWD;
    height: $stCardSmallHG;

    img {
        width: 120px;
        height: 120px;
    }

    p{
        color: $txtColor;
        font-size: $stdateFS;
    }

    h1{
        color: $titleColor;
        font-size: $stTitleFS;
    }
}